################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KustoSchemaTools.Tests/bin
/KustoSchemaTools.Tests/obj
/KustoSchemaTools.Plugins/obj
/KustoSchemaTools.Plugins/bin
/.vs
